body {
	background-color: #3A86FF;
}

.center-content {
	width: 50vw;
	height: 50vh;
	
	border-radius: 25px;
	background-image: url(Protruding-Squares.svg);
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
	
	text-align: center;
	font-size: 30px;
	font-family: Consolas,monaco,monospace;	
}

.ul-sites {
	display: inline-block;
	width: 90%;
	height: 90%;	
    list-style-type: none;
    padding-left: 0;
}

.li-site:hover {
    cursor: pointer;
    color: #f7ede2;
    display: grid;
    font-weight: 800;
    border: 5px solid #769eb8;
    border-radius: 20px;	
}

.li-site {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
}

a:link {
	color: #f7ede2;
}

a:visited {
  color: #cfc8db;
}