body {
	background-image: url("https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=1140");
}

.center-content {
	display: inline-table;
	width: 35vw;
	height: 30vh;	

	border-radius: 25px;
    background-color: #1f1f1f;
    opacity: 0.85;
	
	position: absolute;
	top:0;
	bottom: 25vh;
	left: 0;
	right: 0;
  	
	margin: auto;
	
	text-align: center;	
	font-family: Consolas,monaco,monospace;	
	font-size: 30px;
	font-weight: bolder;
}

.ul-sites {
	display: inline-block;	
	width: 75%;
	height: 90%;	

	overflow: auto;
    list-style-type: none;
    padding-left: 0;
}

.li-site:hover {
    cursor: pointer;
    color: #f7ede2;
	background-color: #6f0030;
    display: grid;
    font-weight: 800;
	opacity: 0.85;
    border-radius: 10px;	 
}

.li-site {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
}

a:link {
	color: #ffffff;
}

a:visited {
  color: #ffffff;
}