body {
	background-image: url("https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=1140");
}

.center-content {
	display: inline-table;

	width: 20vw;
	height: 100vh;	
	min-width: 290px;

    background-color: #1f1f1f;
    opacity: 0.6;
	
	position: absolute;

	top:0;
	bottom: 0;
	left: 0;
	right: 80vw;
  	
	margin: auto;
	
	text-align: center;	
	font-family: Consolas,monaco,monospace;	
	font-size: 30px;
	font-weight: bolder;
}

.ul-sites {
	display: inline-block;	
	width: 90%;
	height: 90%;	

	overflow: auto;
    list-style-type: none;
    padding-left: 0;
}

.li-site:hover {
    cursor: pointer;
    color: #f7ede2;
	background-color: #6f0030;
    display: grid;
    font-weight: 800;
	opacity: 0.85;
    border-radius: 10px;	 
}

.li-site {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
}

a:link {
	color: #ffffff;
}

a:visited {
  color: #ffffff;
}

/* mudblazorui */
#li-mudblazorui:hover ~ #ifrm-mudblazorui {
	opacity: 1 !important;
    transition: opacity 1.5s linear;
}

 #ifrm-mudblazorui {
	opacity: 0;
    transition: opacity 1.5s linear;
}

/* identitydemo */
#li-identitydemo:hover ~ #ifrm-identitydemo {
	opacity: 1 !important;
    transition: opacity 1.5s linear;
}

 #ifrm-identitydemo {
	opacity: 0;
    transition: opacity 1.5s linear;
}

/* mvcblazordemo */
#li-mvcblazordemo:hover ~ #ifrm-mvcblazordemo {
	opacity: 1 !important;
    transition: opacity 1.5s linear;
}

 #ifrm-mvcblazordemo {
	opacity: 0;
    transition: opacity 1.5s linear;
}

/* iframe general settings */
.ifrm {
    opacity: 0;
	
	width: 77vw;
	height: 100%;

	position: absolute;
	left: 23vw;
	top: 0;
	bottom: 0;
	right: 0;

	margin: 0;
	padding: 0;

	border: none;
}